{% extends "base.html" %}

{% block title %} Nueva tarea {% endblock %}

{% block content %}
    <h1>Nueva tarea</h1>
    <form action="/newtask" method="post">
        <div class="row">
            <div class="six columns">
                <input class="u-full-width" type="text" name="title" placeholder="Título">
            </div>
            <div class="six columns">
                <input class="u-full-width" type="date" name="date">
            </div>
        </div>
        <div class="row">
            <textarea class="u-full-width" type="text" name="desc" placeholder="Descripcion"></textarea>
        </div>
        <input type="submit" class="button-primary" value="Enviar">
    </form>

{% endblock %}
